BasedOnStyle: LLVM
Standard: c++03
PointerAlignment: Left
ColumnLimit: 0
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
#AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
  #AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
SortIncludes: false
